<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>更新用户信息</title>

  <!-- Custom fonts for this template-->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <!-- DataTales Example -->
        <div class="container-fluid" style="width:60% " th:each="reportForm : ${reportForm}">
          <div class="form-group">
            <span> 咨询单ID： </span>
            <input type="text" name="REPORTFORM_ID" readonly="readonly" th:value="${reportForm['REPORTFORM_ID']}" class="form-control form-control-user" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <span> 发起人ID： </span>
            <input type="text" name="REPORTFORM_USERID" th:value="${reportForm['REPORTFORM_USERID']}" class="form-control form-control-user" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <span> 咨询单标题： </span>
            <input type="text" name="REPORTFORM_TITLE" th:value="${reportForm['REPORTFORM_TITLE']}" class="form-control form-control-user" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <span> 咨询单内容： </span>
            <input type="text" name="REPORTFORM_CONTENT" th:value="${reportForm['REPORTFORM_CONTENT']}" class="form-control form-control-user" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <span> 咨询时间： </span>
            <input type="text" name="REPORTFORM_TIME" th:value="${reportForm['REPORTFORM_TIME']}" class="form-control form-control-user" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <span> 咨询科室： </span>
            <input type="text" name="REPORTFORM_OFFICEID" th:value="${reportForm['REPORTFORM_OFFICEID']}" class="form-control form-control-user" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <span> 咨询单状态： </span>
            <input type="text" name="REPORTFORM_STATE" th:value="${reportForm['REPORTFORM_STATE']}" class="form-control form-control-user" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <span> 咨询单附带图片： </span>
            <input type="text" name="REPORTFORM_IMG" th:value="${reportForm['REPORTFORM_IMG']}" class="form-control form-control-user" aria-describedby="emailHelp">
          </div>
          <p><input class="btn btn-primary btn-user btn-block" name="updateReportForm" type="submit" value="更新"/></p>
          <hr>
        </div>
      <!-- /.container-fluid -->

    </div>
  <!-- End of Main Content -->

  <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
<script type="text/javascript">
  $("input[name='updateReportForm']").click(function(){
    let post = $.post("../updateReportForm", {
              REPORTFORM_ID:$("input[name='REPORTFORM_ID']").val(),
              REPORTFORM_USERID:$("input[name='REPORTFORM_USERID']").val(),
              REPORTFORM_TITLE:$("input[name='REPORTFORM_TITLE']").val(),
              REPORTFORM_CONTENT:$("input[name='REPORTFORM_CONTENT']").val(),
              REPORTFORM_TIME:$("input[name='REPORTFORM_TIME']").val(),
              REPORTFORM_OFFICEID:$("input[name='REPORTFORM_OFFICEID']").val(),
              REPORTFORM_STATE:$("input[name='REPORTFORM_STATE']").val(),
              REPORTFORM_IMG:$("input[name='REPORTFORM_IMG']").val(),
            },
            function(data,status){
              if(data=="1" && status=="success"){
                alert("更新成功");
              }else{
                alert("更新失败");
              }
            });
  });
</script>

</body>

</html>
